


a:-webkit-any-link {

   color: #FFFFFF;
    cursor: pointer;
    text-decoration: underline;
    color: black;
	font-size: 34px;
	-webkit-text-stroke: 1px black;
	-webkit-text-fill-color: white;
}






header{
	color: #FFFFFF;
	text-align: center;
	font-family: Times New Roman;
	font-size: 20px;
	font-weight: bold;



}
h2{
	color: #FFFFFF;
	text-align: center;
	font-family: Times New Roman;
	font-size: 35px;


	
}
h3{ text-align: center 
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
p{
	color: #FFFFFF;
	font-weight:bold;
font-family: Times New Roman;
text-align: center;
	margin: 0 auto;
	padding: 0 20px;
	max-width: 900px;
	border: 3px solid black;
	font-size: 20px
}


textarea{
	max-width: 500px;
	max-height: 100px;
	font-size: 17px;

}


input[type=text]{
	max-width: 500px;
	max-height: 100px;
	font-size: 17px;


}
input[type=button]{
	color: #FFFFFF;
	background: transparent;
	border: none;
	font-weight: 900;
	font-family: Times New Roman;
	font-size: 20px;



}


input[type=submit]{
	color: #FFFFFF;
	background: transparent;
	border: none;
	font-weight: 900;
	font-family: Times New Roman;
	font-size: 20px;

}

body{
	background-image: url("texture.jpg");
	background-image: 100%;
	



}

/*

<html>
<head>
	<title>ABOUT</title>
	<header>
   <a href="index.html">
      <h1><a href="index.html">
      E.Y.E Ceramics</a></h1>
     
   </a>

</head>
<h2>ABOUT</h2>
<h3>
	<button>ABOUT
		<a href="file:///E:/Users/Owner/Desktop/ceramics%20website/eye-ceramics/eye-ceramics/ABOUT.html"></a></button>
	<button>HORSE HAIR RAKU</button>
	<button>NAKED RAKU</button>
	<button>SODIUM SILICATE</button>
	<button>CART</button>
</h3>

<h4> <img src="EYE.jpg"
alt="EYE" class="center" height="auto" width="auto">
</h4>

<body>
	I am currently working out of my home studio in the state of Utah.
	Ceramics became part of my life during my sophmore year of high school during 2008. Ever since then I've been throwing and firing in between seasons. I spcialize in custom glazed low fire ceramics and raku fired ceramics. View some of my previous work by clicking on one of the buttons on my home page. 

</body>
</html>

*/  
