h1{
	text-align: center;
	font-family: Times New Roman 
	
}
h2{ text-align: center 
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

image.Blue2{
	min-width: 500px;

}

p {
font-weight:bold;
font-family: Times New Roman
text-align: center;
	margin: 0 auto;
	padding: 0 20px;
	max-width: 900px;
	border: 3px solid black;

}

/*

<html>
<title>E.Y.E Ceramics</title>
<link rel="stylesheet" type="text/css" href="Ceramics21.css" />

<body>
	<h1>Raku & Low Fire Ceramics</h1>	
<h2> 
<button>ABOUT ME</button>
	<button>HORSE HAIR RAKU</button>
	<button>NAKED RAKU</button>
	<button>SODIUM SILICATE</button>
	<button>CART</button>
</h2>

 <h3> <img src="Blue.jpg"
alt="Blue" height="500" width="650">
</h3>
<div class="content">
<p>Raku ware is an alternative low fire technique that originated in Japan. My custom ceramic pieces have been glazed and fired to a cone 04 bisque temperature. I am currently working w/ naked raku, horse hair raku, sodium silicate resin texture and glazed raku firings. These ceramic pots are capable of holding liquid, but NOT recommended for consumable liquids and food. These pieces are fired in a propane or natural gas fueled kiln, that has been exposed to lead based glazes. Lead can be toxic for human consumption and cause serious health issues, possibly death if used for serving food and water. This method of firing is used for HOME DECOR ONLY. </p>

<h>naked raku</header>
</body>
</html>		
*/